<div class="modal fade" id="op_update_member" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mise à jour d'un Membre</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="op_form_update_members" action="{{ path('op_admin_memberjson_update', {'id': member.id})}}">
                    <div class="row">
                        <div class="col-12">
                            <p><b>Le membre :</b></p>
                            <hr>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-1">
                                <input class="form-control" type="text" id="firstName" name="firstName" placeholder="firstName">
                                <label for="firstName">Nom</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-1">
                                <input class="form-control" type="text" id="lastName" name="lastName" placeholder="lastName">
                                <label for="lastName">Prénom</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-1">
                                <input class="form-control" type="email" id="email" name="email" placeholder="email">
                                <label for="lastName"><i class="fas fa-at"></i>  Email</label>
                            </div>
                        </div>
                    </div>

            </div>
            <div class="modal-footer">
                <button id="btn-update" type="submit" class="btn btn-primary btn-sm">Ajouter</button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Fermer</button>
            </div>
            </form>
        </div>
    </div>
</div>