{% extends 'admin.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <h3>Créer une page</h3>

    {{ include('webapp/page/_form.html.twig') }}

    <a href="{{ path('op_webapp_page_index') }}">Retour à la liste</a>
{% endblock %}
