<!DOCTYPE html>
<html>
    <head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% endblock %}
    {% block title %}
        <title>OpenGaia</title>
    {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    </head>
    <body>
    <div class="wrapper">
        {% block header %}
            {{ include('include/navbar_webapp.html.twig') }}
        {% endblock %}
        <main class="container" id="content">
            {% block content %}
            {% endblock %}
        </main>
        {% block footer %}
            {{ include('include/footer_admin.html.twig') }}
        {% endblock %}
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}
    </body>
</html>
