{% extends 'admin.html.twig' %}

{% block title %}name of site | Dashboard{% endblock %}

{% block content %}

    <section id="section_header">
        <h1>Tableau de bord</h1>
    </section>
    <section id="section_content">

    </section>
{% endblock %}
