{% extends 'admin.html.twig' %}

{% block title %}name of site | Dashboard{% endblock %}

{% block content %}
    <section id="section_header" class="container">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                         0 Pages
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        0 Articles
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        0 Pages
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        Divers
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section_content">
        <h1>Partie dédiée à l'administration</h1>
    </section>
{% endblock %}
